/*
* Roboto Web Font
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic);

/*
* Open Sans Web Font
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/*
* Bebas Neue
*/
@font-face {
    font-family: 'BebasNeue';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue-webfont.woff2') format('woff2'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.ttf') format('truetype'),
         url('bebasneue-webfont.otf') format('opentype'),
         url('bebasneue-webfont.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}