* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/*
	Gridsysteem
	Responsive Mobile First gridsysteem
*/

/*
	Wrapper
*/
.grid__wrapper {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/*
	Container
*/
.grid__container {
	display: block;
	max-width: 71.25rem;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
	zoom: 1;
}
.grid__container::before, .grid__container::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.grid__container::after {
	clear: both;
}
.grid__container--debug {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: rgba(255, 0, 255, 0.5);
}

/*
	Row
*/
.grid__row {
	display: block;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	zoom: 1;
}
.grid__row::before, .grid__row::after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.grid__row::after {
	clear: both;
}
.grid__row--debug {
	background: rgba(52, 152, 219, 1.0);
}
.grid__row--debug .grid__row--debug {
	padding-top: 0;
}

/*
	Column
*/
.grid__column, .grid__column-bp1-1, .grid__column-bp1-2, .grid__column-bp1-3, .grid__column-bp1-4, .grid__column-bp1-5, .grid__column-bp1-6, .grid__column-bp1-7, .grid__column-bp1-8, .grid__column-bp1-9, .grid__column-bp1-10, .grid__column-bp1-11, .grid__column-bp1-12, .grid__column-bp2-1, .grid__column-bp2-2, .grid__column-bp2-3, .grid__column-bp2-4, .grid__column-bp2-5, .grid__column-bp2-6, .grid__column-bp2-7, .grid__column-bp2-8, .grid__column-bp2-9, .grid__column-bp2-10, .grid__column-bp2-11, .grid__column-bp2-12, .grid__column-bp3-1, .grid__column-bp3-2, .grid__column-bp3-3, .grid__column-bp3-4, .grid__column-bp3-5, .grid__column-bp3-6, .grid__column-bp3-7, .grid__column-bp3-8, .grid__column-bp3-9, .grid__column-bp3-10, .grid__column-bp3-11, .grid__column-bp3-12, .grid__column-bp4-1, .grid__column-bp4-2, .grid__column-bp4-3, .grid__column-bp4-4, .grid__column-bp4-5, .grid__column-bp4-6, .grid__column-bp4-7, .grid__column-bp4-8, .grid__column-bp4-9, .grid__column-bp4-10, .grid__column-bp4-11, .grid__column-bp4-12, .grid__column-bp5-1, .grid__column-bp5-2, .grid__column-bp5-3, .grid__column-bp5-4, .grid__column-bp5-5, .grid__column-bp5-6, .grid__column-bp5-7, .grid__column-bp5-8, .grid__column-bp5-9, .grid__column-bp5-10, .grid__column-bp5-11, .grid__column-bp5-12 {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	overflow: hidden;
}
.grid__column--debug {
	 background: rgba(46, 204, 113, 1.0);
	 height: 16px;
}
.grid__column--debug>div {
	 background: rgba(26, 188, 156, 1.0);
	 height: 100%;
}

/*
	Responsive media queries
   	Breakpoints
	BP1: 320px (20rem)
   	BP2: 480px (30rem)
   	BP3: 680px (42.5rem)
   	BP4: 960px (60rem)
   	BP5: 1140px (71.25rem)
*/
@media (min-width: 20rem) {
	.grid__column-bp1-1 { width: 8.33333%; }
	.grid__column-bp1-2 { width: 16.66666%; }
	.grid__column-bp1-3 { width: 25%;}
	.grid__column-bp1-4 { width: 33.33333%; }
	.grid__column-bp1-5 { width: 41.66666%; }
	.grid__column-bp1-6 { width: 50%; }
	.grid__column-bp1-7 { width: 58.33333%; }
	.grid__column-bp1-8 { width: 66.66666%; }
	.grid__column-bp1-9 { width: 75%; }
	.grid__column-bp1-10 { width: 83.33333%; }
	.grid__column-bp1-11 { width: 91.66666%; }
	.grid__column-bp1-12 { width: 100%; }

	.grid__offset-bp1-1 { margin-left: 8.33333%; }
	.grid__offset-bp1-2 { margin-left: 16.66666%; }
	.grid__offset-bp1-3 { margin-left: 25%; }
	.grid__offset-bp1-4 { margin-left: 33.33333%; }
	.grid__offset-bp1-5 { margin-left: 41.66666%; }
	.grid__offset-bp1-6 { margin-left: 50%; }
	.grid__offset-bp1-7 { margin-left: 58.33333%; }
	.grid__offset-bp1-8 { margin-left: 66.66666%; }
	.grid__offset-bp1-9 { margin-left: 75%; }
	.grid__offset-bp1-10 { margin-left: 83.33333%; }
	.grid__offset-bp1-11 { margin-left: 91.66666%; }
	.grid__offset-bp1-12 { margin-left: 100%; }
}
@media (min-width: 30rem) {
	.grid__column-bp2-1 { width: 8.33333%; }
	.grid__column-bp2-2 { width: 16.66666%; }
	.grid__column-bp2-3 { width: 25%; }
	.grid__column-bp2-4 { width: 33.33333%; }
	.grid__column-bp2-5 { width: 41.66666%; }
	.grid__column-bp2-6 { width: 50%; }
	.grid__column-bp2-7 { width: 58.33333%; }
	.grid__column-bp2-8 { width: 66.66666%; }
	.grid__column-bp2-9 { width: 75%; }
	.grid__column-bp2-10 { width: 83.33333%; }
	.grid__column-bp2-11 { width: 91.66666%; }
	.grid__column-bp2-12 { width: 100%; }

	.grid__offset-bp2-1 { margin-left: 8.33333%; }
	.grid__offset-bp2-2 { margin-left: 16.66666%; }
	.grid__offset-bp2-3 { margin-left: 25%; }
	.grid__offset-bp2-4 { margin-left: 33.33333%; }
	.grid__offset-bp2-5 { margin-left: 41.66666%; }
	.grid__offset-bp2-6 { margin-left: 50%; }
	.grid__offset-bp2-7 { margin-left: 58.33333%; }
	.grid__offset-bp2-8 { margin-left: 66.66666%; }
	.grid__offset-bp2-9 { margin-left: 75%; }
	.grid__offset-bp2-10 { margin-left: 83.33333%; }
	.grid__offset-bp2-11 { margin-left: 91.66666%; }
	.grid__offset-bp2-12 { margin-left: 100%; }
}
@media (min-width: 42.5rem) {
	.grid__column-bp3-1 { width: 8.33333%; }
	.grid__column-bp3-2 { width: 16.66666%; }
	.grid__column-bp3-3 { width: 25%; }
	.grid__column-bp3-4 { width: 33.33333%; }
	.grid__column-bp3-5 { width: 41.66666%; }
	.grid__column-bp3-6 { width: 50%; }
	.grid__column-bp3-7 { width: 58.33333%; }
	.grid__column-bp3-8 { width: 66.66666%; }
	.grid__column-bp3-9 { width: 75%; }
	.grid__column-bp3-10 { width: 83.33333%; }
	.grid__column-bp3-11 { width: 91.66666%; }
	.grid__column-bp3-12 { width: 100%; }

	.grid__offset-bp3-1 { margin-left: 8.33333%; }
	.grid__offset-bp3-2 { margin-left: 16.66666%; }
	.grid__offset-bp3-3 { margin-left: 25%; }
	.grid__offset-bp3-4 { margin-left: 33.33333%; }
	.grid__offset-bp3-5 { margin-left: 41.66666%; }
	.grid__offset-bp3-6 { margin-left: 50%; }
	.grid__offset-bp3-7 { margin-left: 58.33333%; }
	.grid__offset-bp3-8 { margin-left: 66.66666%; }
	.grid__offset-bp3-9 { margin-left: 75%; }
	.grid__offset-bp3-10 { margin-left: 83.33333%; }
	.grid__offset-bp3-11 { margin-left: 91.66666%; }
	.grid__offset-bp3-12 { margin-left: 100%; }
}
@media (min-width: 60rem) {
	.grid__column-bp4-1 { width: 8.33333%; }
	.grid__column-bp4-2 { width: 16.66666%; }
	.grid__column-bp4-3 { width: 25%; }
	.grid__column-bp4-4 { width: 33.33333%; }
	.grid__column-bp4-5 { width: 41.66666%; }
	.grid__column-bp4-6 { width: 50%; }
	.grid__column-bp4-7 { width: 58.33333%; }
	.grid__column-bp4-8 { width: 66.66666%; }
	.grid__column-bp4-9 { width: 75%; }
	.grid__column-bp4-10 { width: 83.33333%; }
	.grid__column-bp4-11 { width: 91.66666%; }
	.grid__column-bp4-12 { width: 100%; }

	.grid__offset-bp4-1 { margin-left: 8.33333%; }
	.grid__offset-bp4-2 { margin-left: 16.66666%; }
	.grid__offset-bp4-3 { margin-left: 25%; }
	.grid__offset-bp4-4 { margin-left: 33.33333%; }
	.grid__offset-bp4-5 { margin-left: 41.66666%; }
	.grid__offset-bp4-6 { margin-left: 50%; }
	.grid__offset-bp4-7 { margin-left: 58.33333%; }
	.grid__offset-bp4-8 { margin-left: 66.66666%; }
	.grid__offset-bp4-9 { margin-left: 75%; }
	.grid__offset-bp4-10 { margin-left: 83.33333%; }
	.grid__offset-bp4-11 { margin-left: 91.66666%; }
	.grid__offset-bp4-12 { margin-left: 100%; }
}
@media (min-width: 71.25rem) {
	.grid__column-bp5-1 { width: 8.33333%; }
	.grid__column-bp5-2 { width: 16.66666%; }
	.grid__column-bp5-3 { width: 25%; }
	.grid__column-bp5-4 { width: 33.33333%; }
	.grid__column-bp5-5 { width: 41.66666%; }
	.grid__column-bp5-6 { width: 50%; }
	.grid__column-bp5-7 { width: 58.33333%; }
	.grid__column-bp5-8 { width: 66.66666%; }
	.grid__column-bp5-9 { width: 75%; }
	.grid__column-bp5-10 { width: 83.33333%; }
	.grid__column-bp5-11 { width: 91.66666%; }
	.grid__column-bp5-12 { width: 100%; }

	.grid__offset-bp5-1 { margin-left: 8.33333%; }
	.grid__offset-bp5-2 { margin-left: 16.66666%; }
	.grid__offset-bp5-3 { margin-left: 25%; }
	.grid__offset-bp5-4 { margin-left: 33.33333%; }
	.grid__offset-bp5-5 { margin-left: 41.66666%; }
	.grid__offset-bp5-6 { margin-left: 50%; }
	.grid__offset-bp5-7 { margin-left: 58.33333%; }
	.grid__offset-bp5-8 { margin-left: 66.66666%; }
	.grid__offset-bp5-9 { margin-left: 75%; }
	.grid__offset-bp5-10 { margin-left: 83.33333%; }
	.grid__offset-bp5-11 { margin-left: 91.66666%; }
	.grid__offset-bp5-12 { margin-left: 100%; }
}
