/* Body */
body {
	background: #F1EEEE;

	font-family: 'Open Sans', sans-serif;
}
/*
* Helpers
*/
.clearfix::before, .clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix::after {
	clear: both;
}


/*
* Offcanvas
*/
.offcanvas {
	position: fixed;
	z-index: 999;
	right: 0;
	top: 0;
	max-width: 320px;
	width: 70%;
	right: -100%;

	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);

	transition: all 320ms ease-out 0s;
}
.offcanvas-open .offcanvas {
	right: 0;

	transition: all 320ms ease-out 0s;
}
#offcanvas__header {
	position:relative;
	height: 104px;
	width: 100%;

	background: url('images/header.png') no-repeat top left;
	background-color: grey;
	background-size: cover;
}
#offcanvas__header > h1 {
	position: absolute;
	margin: 0 auto;
	bottom: 1rem;
	left: 1rem;

	font-size: 2rem;
	color: rgba(245,245,245 ,1);
}
#offcanvas__navigation-toggle {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;

	text-decoration: none;
	color: rgba(245,245,245 ,1);
}
#offcanvas__navigation-toggle > span {
	display: none;
}
#offcanvas__navigation-toggle::before {
	display: block;
	content: '\f00d';

	font-family: FontAwesome;
	font-size: 2rem;

	transition: all 320ms ease-out 0s;
}
#offcanvas__navigation > ul {
	list-style: none;

	margin: 0 auto;
	padding: 0;
}
#offcanvas__navigation > ul > li {
	width: 100%;
}
#offcanvas__navigation .navigation__item {
	display: block;
	height: 32px;
	line-height: 32px;
	padding-left: 1rem;
	padding-right: 1rem;

	background: #1F1F1F;
	border-bottom: 1px solid rgba(245,245,245 ,1);

	text-decoration: none;
	color: rgba(245,245,245 ,1);
	font-weight: 700;
	text-transform: uppercase;
}
#offcanvas__navigation .navigation__item .fa {
	margin-right: 1rem;
	width: 2rem;
	text-align: center;
}
#offcanvas__navigation > ul > li:last-of-type .navigation__item {
	border-bottom: none;
}

/*
* Header
*/
#foto {
	display: none;
}
#header-wrapper {
	/* background: rgba(250,250,250 ,1); */
	background: #1F1F1F;
	-webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
}
#header-wrapper > div > div > div {
	margin-bottom: 0;
}
#header::before, #header::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
#header::after {
	clear: both;
}
#header__logo {
	float: left;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
#header__logo > h1 {
	margin: 0 auto;
	padding: 0;
}

#header__logo > h1 > a {
	text-decoration: none;
	color: white;
	color: rgba(250,250,250, 1);
	font-weight: 700;
	text-transform: uppercase;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  /* ...and now for the proper property */
  	transition:.5s;
	display: block;
	width: 40px;
	height: 40px;
	background: url('../../images/icons/apple-touch-icon-precomposed.png') no-repeat top left;
	background-size: cover;

    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#header__logo > h1 > a:hover {
	-webkit-transform: scale(0.9);
    transform: scale(0.9);
}

#header__logo > h1 > a > span {
	/* display: none; */

}

#header__logo > h2 {
	display: none;
}
#header__navigation-toggle {
	float:right;
	margin-top: 0.7rem;

	text-decoration: none;
	/* color: rgba(0,157,220, 1); */
	color: white;
}
#header__navigation-toggle::before {
	display: block;
	content: '\f0c9';

	font-family: FontAwesome;
	font-size: 2rem;

	transition: all 320ms ease-out 0s;
}
.offcanvas-open #header__navigation-toggle::before,
.headernav-open #header__navigation-toggle::before {
	transform: rotate(90deg);
	transition: all 320ms ease-out 0s;
}
#header__navigation-toggle > span {
	display: none;
}
#header__navigation {
	float: right;
	width: 100%;
	display: none;
}
.headernav-open #header__navigation {
	display: block;
}
#header__navigation > ul {
	list-style: none;

	margin: 0 auto;
	padding: 0;
}
#header__navigation > ul > li {
	float: left;
	width: 100%;
}
#header__navigation .navigation__item {
	font-family: 'BebasNeue', sans-serif;
	font-size: 1.25rem;
	display: block;
	height: 32px;
	line-height: 32px;
	padding-left: 1rem;
	padding-right: 1rem;

	/* background: rgba(97,187,70,1); */

	text-decoration: none;
	color: rgba(250,250,250, 1);
	font-weight: 700;
	text-transform: uppercase;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  /* ...and now for the proper property */
  	transition:.5s;
}

#header__navigation .navigation__item:hover {
	color: grey;
}

/*
#header__navigation li:nth-of-type(2) .navigation__item {
	background: rgba(253,184,39, 1);
}
#header__navigation li:nth-of-type(3) .navigation__item {
	background: rgba(245,130,31, 1);
}
#header__navigation li:nth-of-type(4) .navigation__item {
	background: rgba(224,58,62, 1);
}
#header__navigation li:nth-of-type(5) .navigation__item {
	background: rgba(150,61,151, 1);
} */


/* Additions */

h1, h2, h3 {
	font-family: 'BebasNeue', sans-serif;
}

.breadcrumb {
	list-style: none;
	overflow: hidden;
	font: 11px Helvetica, Arial, Sans-Serif;
}

.breadcrumb li {
	float: left;
}

.breadcrumb li a {
	color: grey;
	text-decoration: none;
	padding: 0 0 0 4px;
	position: relative;
	display: block;
	float: left;
}

.breadcrumb li a:hover {
	text-decoration: underline;
}

#menu {
	margin-top: 1rem;
	/* background-color: black; */
	padding-bottom: 1rem;
}

.goal {
	position: relative;
   	height: 0;
   	padding-bottom: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	color: white;
	border-radius: 5px;
}
.goal h1 {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}

.goal img {
	position: absolute;
  	top: 50%;
	left: 20%;
	width: 60%;
  	transform: translateY(-50%);
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
}

.goal:hover img {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.goal:hover h3 {
	font-family: 'Open Sans', sans-serif;
	visibility: visible;
	font-size: 14px;
	text-align: center;
	line-height: 100%;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
}

.goal h3 {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.topic {
	position: relative;
   	height: 0;
   	padding-bottom: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	color: white;
	border-radius: 5px;
}

.topic img {
	position: absolute;
  	top: 50%;
	left: 20%;
	width: 60%;
  	transform: translateY(-50%);
}


#menu a:nth-child(1) .goal {
	background-color: #F0EA00;
}
#menu a:nth-child(2) .goal {
	background-color: #BADA00;
}
#menu a:nth-child(3) .goal {
	background-color: #AAAACA;
}
#menu a:nth-child(4) .goal {
	background-color: #B0DEF8;
}
#menu a:nth-child(5) .goal {
	background-color: #F9BFD9;
}
#menu a:nth-child(6) .goal {
	background-color: #E35437;
}
#menu a:nth-child(7) .goal {
	background-color: #65BB1D;
}
#menu a:nth-child(8) .goal {
	background-color: #229BD8;
}

#gradient a:nth-child(2) .goal {
	background-color: #68B1D1;
}
#gradient a:nth-child(3) .goal {
	background-color: #FFC745;
}
#gradient a:nth-child(4) .goal {
	background-color: #E34D3C;
}

#gradient a:nth-child(2) .topic {
	background-color: #68B1D1;
}
#gradient a:nth-child(3) .topic {
	background-color: #FFC745;
}
#gradient a:nth-child(4) .topic {
	background-color: #E34D3C;
}


#gradient {
	/*width: 90%;
	position: absolute;
	bottom: 2.5rem;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right:0;*/
	/* gradient */
	background: red; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(180deg, #5E5B5B, #302E2E); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(180deg, #5E5B5B, #302E2E); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(180deg, #5E5B5B, #302E2E); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(180deg, #5E5B5B, #302E2E); /* Standard syntax */

	margin-bottom: 2.5rem;
	color: white;

	padding: 1rem;
	border-radius: 5px;
}

#gradient h2 {
	text-align: center;
	color: white;
}

#gradient h1 {
	font-size: 24px;
	margin-top: 0;
}

/* Targets */

.targets {
   	height: 0;
   	padding-bottom: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
	font-size: 0.9rem;

	color: white;
	border-radius: 5px;
}

.targets img {
	width: 60%;
	margin: auto;

}

.targetstat {
	height: 420px;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	margin-bottom: 0.5rem;
	font-size: 0.7rem;

	color: white;
	border-radius: 5px;
}

.targetstat img {
	width: 60%;
	margin: auto;
}

.targetstat h3 {
	font-size: 1rem !important;
}


/* canvas */
.graphcanvas {
	height: 420px;
	border-radius: 5px;
	background-color: white;
	padding: 0.5rem;
}


iframe {
	height: 420px;
	width: 100%;
	border-radius: 5px;
}
.titlecenter {
	text-align: center;
}

.titleiconl {
	width: 5%;
}
.titleiconr {
	width: 3%;
}
.titleleft {
	text-align: left;
}
.titleright {
	text-align: right;
	color: #F1EEEE;
}

.titleiconl, .titleiconr,.titleleft, .titleright {
	display: inline;
}

.target1a {
	background-color: #E2243F;
}
.target1b {
	background-color: #9E1C44;
}
.target1c {
	background-color: #E2B444;
}
.target2a {
	background-color: #C01D32;
}
.target3a {
	background-color: #FC3C30;
}
.target4a {
	background-color: #AEDEF9;
}
.target5a {
	background-color: #D91D68;
}
.target5b {
	background-color: #4E9C3E;
}
.target6a {
	background-color: #E4415D;
}
.target6b {
	background-color: #F5B400;
}
.target6c {
	background-color: #EC6636;
}
.target7a {
	background-color: #E4415D;
}
.target7b {
	background-color: #F5B400;
}
.target7c {
	background-color: #EC6636;
}
.target7d {
	background-color: #C89E69;
}
.target8a {
	background-color: #FD6933;
}
.target8b {
	background-color: #D91D68;
}
.target8d {
	background-color: #0E699A;
}
.target8f {
	background-color: #1B4969;
}

/* Chartist */

.chartist-line p {
	color: #000;
}

.linecolor1a .ct-series-a .ct-line, .linecolor1a .ct-series-a .ct-point {
	stroke: #E2243F;
}
.linecolor1b .ct-series-a .ct-line, .linecolor1b .ct-series-a .ct-point {
	stroke: #9E1C44;
}
.linecolor1c .ct-series-a .ct-line, .linecolor1c .ct-series-a .ct-point {
	stroke: #E2B444;
}

.linecolor2a .ct-series-a .ct-line, .linecolor2a .ct-series-a .ct-point {
	stroke: #C01D32;
}

.linecolor3a .ct-series-a .ct-line, .linecolor3a .ct-series-a .ct-point {
	stroke: #FC3C30;
}

.linecolor4a .ct-series-a .ct-line, .linecolor4a .ct-series-a .ct-point {
	stroke: #AEDEF9;
}

.linecolor5a .ct-series-a .ct-line, .linecolor5a .ct-series-a .ct-point {
	stroke: #D91D68;
}
.linecolor5b .ct-series-a .ct-line, .linecolor5b .ct-series-a .ct-point {
	stroke: #4E9C3E;
}

.linecolor6a .ct-series-a .ct-line, .linecolor6a .ct-series-a .ct-point {
	stroke: #E4415D;
}
.linecolor6b .ct-series-a .ct-line, .linecolor6b .ct-series-a .ct-point {
	stroke: #F5B400;
}
.linecolor6c .ct-series-a .ct-line, .linecolor6c .ct-series-a .ct-point {
	stroke: #EC6636;
}

.linecolor7a .ct-series-a .ct-line, .linecolor7a .ct-series-a .ct-point {
	stroke: #E4415D;
}
.linecolor7b .ct-series-a .ct-line, .linecolor7b .ct-series-a .ct-point {
	stroke: #F5B400;
}
.linecolor7c .ct-series-a .ct-line, .linecolor7c .ct-series-a .ct-point {
	stroke: #EC6636;
}
.linecolor7d .ct-series-a .ct-line, .linecolor7d .ct-series-a .ct-point {
	stroke: #C89E69;
}

.linecolor8a .ct-series-a .ct-line, .linecolor8a .ct-series-a .ct-point {
	stroke: #FD6933;
}
.linecolor8b .ct-series-a .ct-line, .linecolor8b .ct-series-a .ct-point {
	stroke: #D91D68;
}
.linecolor8d .ct-series-a .ct-line, .linecolor8d .ct-series-a .ct-point {
	stroke: #0E699A;
}
.linecolor8f .ct-series-a .ct-line, .linecolor8f .ct-series-a .ct-point {
	stroke: #1B4969;
}

.select-wrapper select {
	width: 200px;
}

/* Contact */
.contactheaders {
	margin-top: 0;
	margin-bottom: 10px;
}

::-webkit-input-placeholder {
	font-size: 10px;
}

label {
	font-family: 'BebasNeue', sans-serif;
	font-size: 1.25rem;
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

input, textarea {
	width:439px;
	height:27px;
	background: #FFF;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
	height:150px;
}

#submit {
    width:127px;
    height:38px;
    color: #1F1F1F;
    font-weight: bold;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	    background-color: #000;
	    color: white;
	}

@media (min-width: 30rem) {
	#header__logo > h1 > a {
		width: 40px;
		height: 40px;
	}
	#header__navigation {
		width: 100%;
	}
	#header__navigation > ul > li {
		width: 50%;
	}
	#header__navigation > ul > li:last-of-type {
		width: 100%;
	}
	#header__navigation .navigation__item {
		height: 64px;
		line-height: 64px;

		text-align: center;
	}
	.titleiconl {
		width: 3%;
	}
	.graphcanvas {
		height: 420px;
		border-radius: 5px;
		background-color: white;
		padding: 0.5rem;
	}
	/*#gradient {
		width: 95%;
		position: absolute;
		bottom: 20px;
		top: 254px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right:0;
	}
	*/
}

@media (min-width: 42.5rem) {
	.targets {
	   	height: 340px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		text-align: center;
		font-size: 1rem;

		color: white;
		border-radius: 5px;
	}
	#foto {
		display: block;
		background-image:url(../../images/background.jpg);
		background-attachment: fixed;
		height: 200px;
		overflow: hidden;
	}
	#foto img {
		display: block;
		height: 200%;
		margin: 0 auto;
	}
	#offcanvas {
		display: none;
	}
	#header__logo > h1 > a {

		width: 42px;
		height: 42px;
	}
	#header__navigation-toggle {
		display: none;
	}
	#header__navigation {
		width: auto;
		display: block;
	}
	#header__navigation > ul > li {
		width: auto;
	}
	#header__navigation > ul > li:last-of-type {
		width: auto;
	}
	#header__navigation .navigation__item {
		height: 54px;
		line-height: 54px;

		text-align: left;
	}
	.scrollable {
		overflow-y: scroll;
		height: 520px;
	}
	.scrollable_target {
		overflow-y: scroll;

	}
	.goal:hover h3 {
		display: block;
		font-size: 18px;
		text-align: center;
		line-height: 100%;
		padding-top: 20%;
	}
	#gradient h1 {
		font-size: 2.5rem;
	}
	#gradient h2 {
		font-size: 2rem;
	}

	#gradient h3 {
		font-size: 1.5rem;
	}

/*	#gradient {
		width: 68%;
		position: absolute;
		bottom: 20px;
		top: 254px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right:0;
	}
*/

}
